*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 700;
}

body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #516088;
}


.login-contanier{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #131212;
    padding: 20px;
    border-radius: 10px;
}

input{
    border: none;
    background-color: #eeeeee;
    padding: 5px;
    margin: 5px;
}


label{
    color: #f0f1f3;
    margin-left: 5px;
    font-size: 20px;   
}

h2{
    text-align: center;
}