*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Inicio HEADER */
header { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    max-width: 1100px;
    width: 100%; 
    background-color: #ffffff;
    margin: 0 auto; 
}

.logo{
    width: 180px;
}

header a{
    color: #003079;
    text-decoration: none;
}

.vagas_header{
    color: #FFE500;
}

header button{
    background-color: #003079;
    color: #FFE500;
    border: none;
    border-radius: 8.89px;
    padding: 8px 30px;  
}

.login a{
    background-color: #003079;
    color: #FFE500;
    border: 2px solid #FFE500;
    border-radius: 8.89px;
    padding: 8px 30px;  
}


/* Fim Cabeçalho */

banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 100%; 
    background-color: #003079;
    margin: 0 auto;
}

/* Fim Banner */

main{
    
    background-color: #EEEEEE;

}

.caixa_de_pesquisa{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 110px;
    width: 1000px; 
    background-color: #FFFFFF;
    margin: 0 auto;
    border-radius: 15px;
    margin-top: 20px;
}

main label{
  color: #003079;
  margin-left: 5px;
  font-size: 20px;
  
}

.caixa_vaga, .caixa_filtros{
    background-color: #EEEEEE;
    padding: 6px;
    border-radius: 8.89px;
    margin-top: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.541);
}

main input{
    width: 300px;
    border: none;
    background-color: #EEEEEE;
    padding: 5px;
    
}

main i{
    color: #7B7B7B;
    margin-right: 3px;

}

.buscar_vagas{
    background-color: #003079;
    color: #FFE500;
    border: none;
    border-radius: 8.89px;
    padding: 12px 30px; 
    margin-top: 26px;
}

.titulo_vagas{
    display: flex;
    width: 1000px; 
    margin: 0 auto;
    margin-top: 20px;

}

main .vagas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1020px; 
    margin: 0 auto;
    border-radius: 15px;
    margin-top: 20px;
}

.informacoes_vaga{
    background-color: #ffff;
    padding: 13px;
    border-radius: 8.89px;
    width: 500px;
    height: 350px;
}

.informacoes_vaga .nome_vaga{
    font-size: 20px;

}

.informacoes_vaga .nome_empresa{
    font-size: 13px;
    margin-left: 20px;

}

.icons_vaga{
    display: flex; 
    margin-top: 30px;
    
}

.icons_vaga i{
    font-size: 15px;
    margin-top: 0px;
   

}

footer{
    height: 100px;
    width: 100%; 
    background-color: #003079;
    margin: 0 auto; 

}
.rodape{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 1100px; 

}

footer i{
    color: #FFff;
    margin-left: 20px;
} 

footer a{
    color: #FFff;
    text-decoration: none;
}

