:root {
    --background: #e2e3e6;
    --azul-botao: #166FE5;
    --verde-botao: #36A420;
    --textos-links: #000;
    --textos-paragrafos: #4e4949;
    --cor-rodape: #ffffff;
    --texto-rodape: #747272;
}
body {
    background-color: var(--background);
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.logo {
    width: 300px;
    margin-bottom: -60px;
}
.paragrafo {
    font-family: 'Lucida Sans', sans-serif;
    color: var(--textos-paragrafos);
    font-size: 1.5rem;
    line-height: 1.2;
    width: 410px;
}
.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 390px;
    height: 350px;
    margin-bottom: 50px;
    border-radius: 7px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.286);
    background-color: #fff;
}
.input {
    width: 350px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin: 6px 0;
}
.btn {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 3px;
    width: 350px;
    height: 45px;
    cursor:pointer;
}
.btn1 {
    background-color: var(--azul-botao);
    margin: 15px 0;
}
.btn1:hover {
    background-color: #0f5dc4;
}
.btn2 {
    background-color: var(--verde-botao);
    width: 200px;
    margin-top: 20px;
}
.btn2:hover {
    background-color: #338f21;
}
.link_esqueceu {
    color: var(--azul-botao);
    text-decoration: none;
    font-size: 17px;
    font-weight: 540;
    margin-bottom: 7px;
}
.linha {
    border-bottom: 1px solid #bcbcbc;
    width: 350px;
    margin: 1px 0;
}
.paragrafo_info {
    width: 390px;
    color: var(--textos-paragrafos);
    font-size: 1rem;
}
.link {
    color: var(--textos-links);
    font-weight: bold;
    text-decoration: none;
}
.link:hover,
.link_esqueceu:hover {
    text-decoration: underline;
}
.footer {
    background-color: var(--cor-rodape);
    text-align: center;
    margin-top: 350px;
    font-size: 13px;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	display: inline-block;
	margin: 0 40px;
    
    
}
.plus{
    display: inline-block;
}
a{
    color: var(--texto-rodape)
    
}